/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Lexend:wght@400;800&family=Poppins&display=swap');

html {
    background-color: white;
}

:root {
    --mainBg: #DADCE7;
    --subBg: #fd9c19;
    --mainText: #010C13;
    --accent: #ffe84f;
    --subAccent: #c95a00;
    --darkAccent: #b32c10;
}

body {
    max-width: 1800px;
    margin: auto; /* this centers the body horizontally */
    color: var(--mainText);
    font: 1rem "Lexend", sans-serif; /* font size is subject to change depending on accessibility */
    opacity: 0;
    transition: opacity 0.5s;
}

.navBar{
    width: 100%;
    max-width: 1800px;
    height: 60px;
    box-shadow: 0px 5px 5px #010c133b;
    background-color: var(--darkAccent);
    position: fixed;
    top: 0;
    z-index: 2;
}

.navBar a{
    color: white;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    padding: 0px 12px;
    text-decoration: none;
    height: 60px;
    float: left;
    background-color: var(--darkAccent);
    transition: background-color 0.3s ease-in;  /* to make the links fade in and out when hovered */
}

.navBar button{
    display: none;
    float: right;
    height: 60px;
    width: 60px;
    font-size: 40px;
    background-color: var(--darkAccent);
    color: white;
    border: none;
    transition: background-color 0.3s ease-in;  /* to make the button fade in and out when hovered */
}

.navBar a:hover, .navBar button:hover{
    cursor: pointer;
    background-color: var(--subAccent);
}

.navBar a:focus, .navBar a:last-child:focus, .navBar button:focus{
    outline: none;
    background-color: var(--subAccent);
}

.navBar a.active{
    background-color: var(--subBg);
    color: var(--mainText);
}

.navBar a.active:focus{
    background-color: var(--subAccent);
}

.navBar a:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    font-family: "Bungee", sans-serif;
    color: black;
    margin: auto;
}

.navBar a:first-child img{
    height: 60px;
}

.navBar a:first-child p{
    background-color: var(--mainText);
    background-image: linear-gradient(
            45deg,
            var(--mainText) 25%, 
            var(--subAccent) 25%, 
            var(--subAccent) 50%, 
            var(--subBg) 50%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    animation: move-text-bg-reverse 0.5s ease forwards;
}

.navBar a:first-child p:hover{
    animation: move-text-bg 0.5s ease-in forwards;
}

@keyframes move-text-bg {
    0% {
        background-size: 100%;
    }
    100% {
        background-size: 650%;
    }
}

@keyframes move-text-bg-reverse {
    0% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}
.navBar a:first-child:hover, a:last-child:hover{
    background-color: var(--darkAccent);
}

.navBar a:last-child{
    float: right;
    background-color: var(--mainText);
    background-image: url("images/shopping-bag.png");
    background-size: 50%;
    width: 60px;
    background-position: 20px;
    background-repeat: no-repeat;
}

/* might change this to be a js function */
@media screen and (max-width: 1100px){
    .navBar > a{
        display: none;
    }

    .navBar.responsive {position: relative;}
    .navBar.responsive button {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navBar.responsive a:last-child{
        position: absolute;
        right: 60px;
        top: 0;
    }
    .navBar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .navBar a:first-child{
        display: flex;
        justify-content: left;
    }
    .navBar a:last-child, .navBar button{
        display: block;
    }
}

@media screen and (max-width: 450px){
    .navBar a p{
        display: none;
    }
    .navBar a:first-child{
        margin-left: 5px;
        background-size: 70%;
    }
}