/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Lexend&family=Poppins&display=swap');

html {
    background-color: white;
}

:root {
    --mainBg: #DADCE7;
    --subBg: #fd9c19;
    --mainText: #010C13;
    --accent: #fff94d;
    --subAccent: #c95a00;
}

body {
    margin: 0 auto; /* this centers the body horizontally */
    color: var(--mainText);
    font: 18px "Lexend", sans-serif; /* font size is subject to change depending on accessibility */
}

.navBar{
    width: 100%;
    height: 8vh;
    border-bottom: 3px solid var(--subAccent);
    background-color: var(--subBg);
    overflow: hidden;
}

.navBar a {
    color: white;
    line-height: 8vh;
    text-align: center;
    font-size: 20px;
    padding: 0px 12px;
    text-decoration: none;
    height: 8vh;
    float: left;
}

.navBar a:hover{
    background-color: var(--subAccent);
    /*color: var(--subBg);*/
}

.navBar a.active{
    background-color: white;
    color: var(--mainText);
}

.box{
    margin: auto;
    background-color: #aabeca;
    border: 1px solid #000000;
    width: 100%;
    height: 150px;
}